/*
 * 파일명 : dashboard-7.css
 * 설 명 : 대쉬보드 7번 화면
 * 최초 생성일 : 
 *     
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */
#dashboard-7 {
  height: calc(100vh - 2rem - 85px);
  width: calc(100vw - 3rem - 78px - 1px); 
  
  .head {
    padding: 2rem;
    display: flex;
    align-items: center;
    line-height: var(--font-regular);

    i {
      font-size: 1.4rem;
      margin-right: 2rem;
      color: rgb(195,202,217);
    }

    h3 {
      color: rgb(98,114,147);
    }
  } // end of .title

  // .content * {
  //   background: none;
  // }

  .body {
    margin: 0 2rem;
    height: 85%;
    background: var(--color-white);
    border-radius: var(--size-border-large-radius);
    display: flex;
    justify-content: center;
    align-items: center;

    // 임시 start ======================================================
    // tr {
    //   border: 1px solid blue;

    //   td {
    //     border: 1px solid blue;
    //   }
    // }

    // 임시 end ========================================================
    
    table {
      width: 90%;
      height: 20%;
      border-spacing: 0px;

      .cards {

        .card {
          position: relative;

          // 아이템의 기본 크기 
          .item {
            width: 11vw;  // 200px;
            height: 13vh; // 140px;
          }
        } // end of .card

      } // end of .cards 

      .cards.first .card {
        background: yellow;

        &.one:hover {
          background: blue;
        }

        &.two:hover {
          background: red;
        }
      }


     
  }
}
}



   //    {
   //     background: green;

   //     &:hover {
   //       background: red;
   //     }
   // }
      
//  .classroom .cards.first .card.two .item .circle {
//      background: yellow;

     
//    }

   //    {
   //     background: green;

   //     &:hover {
   //       background: red;
   //     }
   // }

        

        

      //         // &.one 
      //         .item .circle {
      //           // position: absolute;
      //           background: red;
      //           border: 8px solid var(--color-wine);
      //           width: 100px;
      //           height: 100px;
      //           top: -50px;
      //           left: -50px;
      //           // font-size: 1.4rem;
      //           // font-weight: bold;
      //           // display: flex;
      //           // align-items: center;
      //           // justify-content: center;
      //           // transition: all var(--animation-duration) ease;
      //           // z-index: 1000000;

      //           &:hover {
      //             // transform: scale(2);
      //             // z-index: 1000000;
      //             font-size: 20px;
      //             background: black;
      //           }
      //         }

      //         &.four,
      //         &.five,
      //         &.six {
      //           //,&.seven
      //           border-bottom: 5px solid var(--color-border);
      //         }

      //         &.seven {
      //           border-right: 5px solid var(--color-border);
      //           border-bottom: 5px solid var(--color-border);
      //           border-radius: 0 20px 20px 0;
      //         }

      //         // }

      //         // background: red;
      //         // border: 8px solid var(--color-wine);
      //         // width: 100px;
      //         // height: 100px;
      //         // top: -50px;
      //         // left: -50px;
      //         // font-size: 1.4rem;
      //         // font-weight: bold;
      //         // display: flex;
      //         // align-items: center;
      //         // justify-content: center;
      //         // transition: all var(--animation-duration) ease;
     
  
    // } // end of table/*  */

//   } // end of .content

// } // end of #dashboard-7
      

      

        //=================================================================================================
        // line
        //=================================================================================================

        

        // &.second .card {
        //   border-top: 5px solid var(--color-border);
        //   top: -5px;

        //   &.one {
        //     border-left: 5px solid var(--color-border);
        //     border-bottom: 5px solid var(--color-border);
        //     border-radius: 20px 0 0 20px;
        //     top: -5px;
        //   }

        //   &.four {
        //     border-top: none;

        //     // 시계열 예측 : 가장 큰 네모 상자
        //     .item {
        //       border: 5px solid var(--color-border);
        //       border-radius: 50px 20px 0 50px;
        //       position: absolute;
        //       height: 80px;
        //       top: 105px;
        //     } 
        //   }
        // }

        // &.third .card {
        //   border-top: 5px solid var(--color-border);
        //   top: -10px;

        //   &.one,&.four,&.five,&.six {
        //     border-top: none;
        //   }

        //   &.seven {
        //     border-top: none;
        //     border-right: 5px solid var(--color-border);
        //     border-bottom: 5px solid var(--color-border);
        //     border-radius: 0 0 20px 0;
        //   }
        // }

        // &.fourth .card {
        //   border-top: 5px solid var(--color-border);
        //   top: -15px;

        //   &.one {
        //     border-left: 5px solid var(--color-border);
        //     border-radius: 20px 0 0 20px;

        //     // .item div:nth-child(1)::before {
        //       // content: "시계열 예측 분석";
        //       // background-color: transparent;
        //       // font-size: var(--font-small);
        //       // font-weight: 400;
        //       // position: absolute;
        //       // width: 125px;
        //       // height: 15px;
        //       // top: 80px;
        //       // left: 4px;
        //     // }
        //   }

        //   &.seven {
        //     border-top: none;
        //   }
        // }

      



//       // .two .item .circle {
        

//       //   &:hover {
//       //     transform: scale(2);
//       //   }

//       //   //  // circle, 큰동그라미 
//       //   //  .cards.first {
//       //   //    .card.one {
//       //   //      .item {
//       //   //        .circle {
//       //   //          

//       //   //          // circle, 큰동그라미, hover
//       //   //          &:hover {
//       //   //            transform: scale(1.2) rotate(-45deg);
//       //   //            background: black; //var(--color-wine);
//       //   //            //   color: var(--color-white);
//       //   //            color: red;
//       //   //            // }
//       //   //            // z-index: 100;   
//       //   //          }
//       //   //        }
//       //   //      }
//       //   //    }
//       //   //  }

//       //   //  ///
//       //   //  &.first .card {
//       //   //    border-top: 5px solid var(--color-border);

//       //   //    &.four,
//       //   //    &.five,
//       //   //    &.six {
//       //   //      //,&.seven
//       //   //      border-bottom: 5px solid var(--color-border);
//       //   //    }

//       //   //    &.seven {
//       //   //      border-right: 5px solid var(--color-border);
//       //   //      border-bottom: 5px solid var(--color-border);
//       //   //      border-radius: 0 20px 20px 0;
//       //   //    }
//       //   //  }

//       //   //  //=================================================================================================
//       //   //  // 데이터 준비
//       //   //  //=================================================================================================

//       //   //  &.first {

//       //   //    .title {
//       //   //      // background: red;
//       //   //      // position: absolute;
//       //   //      // top: 0;
//       //   //      // left: 0;
//       //   //      // // width: 160px;
//       //   //      // // height: 90px;
//       //   //      // // left: 11px;
//       //   //      // border-left: 2px solid black;
//       //   //      // padding-left: 4px;
//       //   //      // text-align: left;
//       //   //      // font-size: .9rem;
//       //   //      // font-weight: 900;
//       //   //      // transition: all var(--animation-duration) ease;
//       //   //    }   

//       //   //    // title, 홀수 //
//       //   //    // #dashboard-7 .cards.first .card:nth-child(even) .item .title {  
//       //   //    //   // top: -85px;
//       //   //    // }

//       //   //    // title, 짝수 //
//       //   //    // #dashboard-7 .cards.first .card:nth-child(odd) .item .title {
//       //   //    //   top: 5px;
//       //   //    //   display: flex;
//       //   //    //   align-items: flex-end;
//       //   //    // }

//       //   //    // circle, 공통
//       //   //    .circle {
//       //   //      background-color: var(--color-border);
//       //   //      // border: 2px solid var(--color-black);
//       //   //      border-radius: 50%;
//       //   //      width: 3rem;
//       //   //      height: 3rem;
//       //   //      line-height: 3rem;
//       //   //      position: absolute;
//       //   //      top: -25px;
//       //   //      left: 10px;
//       //   //      //   transition: all var(--animation-duration) ease;
//       //   //      //   z-index: 1;
//       //   //      text-align: center;
//       //   //      color: rgb(114, 134, 173);
//       //   //    }

//       //   //  }

//       //   //  // end of .cards.first
//       // }
    
      
      
      

//       }  
    
//     }// end of table

//   } // end of .content

// } // end of #dashboard-7