/*
 * 파일명 : dashboard.css
 * 설 명 : 대쉬보드 화면
 * 최초 생성일 : 
 *     
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */
#dashboard {
  height: calc(100vh - 2rem - 85px);
  width: calc(100vw - 3rem - 78px - 1px); 
  
  .head {
    padding: 2rem;

    display: flex;
    align-items: center;

    i {
      font-size: var(--font-medium);
      margin-right: 2rem;
      color: var(--color-section-icon);
    }

    h3 {
      color: var(--color-section-title);
    }
  }//End Of .head

  .body * {
    background: none;
  }

  .body {
    margin: 0 2rem;

    height: 85%;

    background: var(--color-white);
    border-radius: var(--size-border-large-radius);

    display: flex;
    justify-content: center;
    align-items: center;
    
    table {
      width: 90%;
      border-spacing: 0px;
      
      .cards .card {
        position: relative;
        
        // 아이템의 기본 크기 
        .item {            
          width: 11vw;
          height: 13vh;
        }
      }//End of .cards .card

      //-----------------------------------------------------------------
      // 데이터 준비 - starts
      //-----------------------------------------------------------------
      .cards.first .card {  
        .item {
          height: 8vh;

          .circle {
            position: absolute;
            width: 100px;
            height: 100px;
            top: -60px;
            left: -58px;

            background: var(--color-border);
            border-radius: 50%;

            font-size: var(--font-regular);
            font-weight: var(--weight-bold);
            color: var(--color-major-title);

            display: flex;
            align-items: center;
            justify-content: center;

            z-index: 1;
                
            &:hover {
              transform: scale(1.1) rotate(-45deg);
              transition: all var(--animation-middle-duration) ease;
            }
          }//End of .cards.first .card .item .circle     

          .square {
            position: absolute;
            width: 25px;
            height: .6rem;
            line-height: .6rem;
            top: -16px;  

            background: var(--color-white);
            color: var(--color-minor-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }//End of .cards.first .card .item .square

          .title { 
            position: absolute;
            width: 160px;
            height: 20px;
            top: -45px;
            left: -68px;

            color: var(--color-sub-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }//End of .cards.first .card .item .title
        }//End of .cards.first .card .item

        // content, 데이터 탐험
        &.four .item .content {          
          position: absolute;
          width: 150px;
          height: 70px;
          top: -15px;
          left: 11px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;      
          gap: 5px;
          
          a {
            border-left: .25rem solid var(--color-border);
            padding-left: .5rem;

            font-size: var(--font-micro);
            font-weight: var(--weight-medium);
            color: var(--color-sub-title);
          }
        }//End of .cards.first .card.four .item .content
      }// End of .cards.first .card
      //-----------------------------------------------------------------
      // 데이터 준비 - ends
      //-----------------------------------------------------------------

      //-----------------------------------------------------------------
      // 시계열 준비 - starts
      //-----------------------------------------------------------------
      .cards.second .card {
        .item {
          height: 9vh;
          
          .circle {
            position: absolute;
            width: 100px;
            height: 100px;
            top: 33px;
            left: -58px;

            background: var(--color-border);
            border-radius: 50%;

            font-size: var(--font-regular);
            font-weight: var(--weight-bold);
            color: var(--color-major-title);

            display: flex;
            align-items: center;
            justify-content: center;

            z-index: 1;

            &:hover {
              transform: scale(1.1) rotate(45deg);
              transition: all var(--animation-middle-duration) ease;
            }
          }//End of .cards.second .card .item .circle
        }//End of .cards.second .card .item

        //-----------------------------------------------------------------
        // 시계열 데이터 분해 - starts
        //-----------------------------------------------------------------
        &.two .item {
          .square {
            position: absolute;
            width: 25px;
            height: .6rem;
            line-height: .6rem;
            top: 100%;
            left: -40%;

            background: var(--color-white);
            color: var(--color-minor-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }

          .title {
            position: absolute;
            width: 160px;
            height: 90px;
            top: 55px;
            left: -74%;

            color: var(--color-sub-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }

          .content {
            position: absolute;
            width: 130px;
            height: 70px;
            top: 110px;
            left: -75px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;

            a {
              border-left: .25rem solid var(--color-border);
              padding-left: .5rem;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
            }
          }
        }//End of .cards.second .card.two .item
        //-----------------------------------------------------------------
        // 시계열 데이터 분해 - ends
        //-----------------------------------------------------------------
          
        //-----------------------------------------------------------------
        // 시계열 정상성 검사 및 변환 - starts
        //-----------------------------------------------------------------
        &.three .item {
          .square {
            position: absolute;
            width: 25px;
            height: .6rem;
            line-height: .6rem;
            top: 83px;
            left: -75px;

            background: var(--color-white);
            color: var(--color-minor-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }

          >.title {
            position: absolute;
            width: 160px;
            height: 20px;
            top: 55px;
            left: -150px;

            color: var(--color-sub-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }

          .content {
            color: var(--color-minor-title);
            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);

            .first {              
              .title {
                position: absolute;
                top: 110px;
                left: -65px;

                border-left: .25rem solid var(--color-border);
                padding-left: .5rem;
              }

              .desc {
                position: absolute;
                top: 135px;
                left: -50px;

                display: flex;
                flex-direction: column;

                a {
                  font-size: 1px;
                  font-weight: var(--weight-medium);
                  color: var(--color-sub-title); 
                }
              }
            }

            .second {
              .title {
                position: absolute;
                top: 190px;
                left: -65px;

                border-left: .25rem solid var(--color-border);
                padding-left: .5rem;
              }

              .desc {
                position: absolute;
                top: 215px;
                left: -50px;

                display: flex;
                flex-direction: column;

                a {
                  font-size: 1px;
                  font-weight: var(--weight-medium);
                  color: var(--color-sub-title);
                }
              }
            }
          }//End Of .cards.second .card.three .item .content
        }//End Of .cards.second .card.three .item
        //-----------------------------------------------------------------
        // 시계열 정상성 검사 및 변환 - ends
        //-----------------------------------------------------------------

        //-----------------------------------------------------------------
        // 시계열 예측 - starts
        //-----------------------------------------------------------------
        &.four .item {
          div:nth-child(1) {
            width: 100px;
            height: 100px;            
            top: -25px;
            left: -92px;

            background: var(--color-border);
            border-radius: 50%;

            font-size: var(--font-regular);
            font-weight: var(--weight-bold);
            color: var(--color-major-title);

            display: flex;
            justify-content: center;
            align-items: center;
            
            transition: all var(--animation-duration) ease;
            z-index: 1;

            /* circle, 큰동그라미, hover */
            &:hover {
              transform: scale(1.1) rotate(-45deg);
              transition: all var(--animation-middle-duration) ease;
            }
          }//End Of .cards.second .card.four .item div:nth-child(1)
        
          //-----------------------------------------------------------------
          // 단변수 예측 - starts
          //-----------------------------------------------------------------
          div:nth-child(2) {
            position: absolute;
            width: 25px;
            height: .6rem;
            line-height: .6rem;
            top: -17px;
            left: 38px;

            background: var(--color-white);
            color: var(--color-minor-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }
          
          // title
          div:nth-child(3) {
            position: absolute;
            width: 110px;
            height: 75px;
            top: -40px;
            left: -10px;

            color: var(--color-sub-title);

            font-size: var(--font-small);
            font-weight: var(--weight-semi-bold);
            text-align: center;
          }

          // content, 단변수 예측, Navie Mean (Yesterday, Value) : title
          div:nth-child(4) {
            a:nth-child(1) {
              position: absolute;
              top: -53px;
              left: 100px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              // content, 단변수 예측, Navie Mean (Yesterday, Value) : 점
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 33px;
                left: 40px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            // content, 단변수 예측, SES : title
            a:nth-child(2) {
              position: absolute;
              top: -36px;
              left: 220px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              // content, 단변수 예측, SES : 점
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 4px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            // content, 단변수 예측, HWES : title
            a:nth-child(3) {
              position: absolute;
              top: -36px;
              left: 280px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              // content, 단변수 예측, HWES : 점
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 8px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            // content, 단변수 예측, AR : title
            a:nth-child(4) {
              position: absolute;
              top: -36px;
              left: 350px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              // content, 단변수 예측, AR : 점
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 2px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            /* content, 단변수 예측, MA : title */
            a:nth-child(5) {
              position: absolute;
              top: -36px;
              left: 420px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              /* content, 단변수 예측, MA : 점 */
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 2px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            /* content, 단변수 예측, ARMA : title */
            a:nth-child(6) {
              position: absolute;
              top: -36px;
              left: 490px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              /* content, 단변수 예측, ARMA : 점 */
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 10px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            // content, 단변수 예측, ARIMA : title
            a:nth-child(7) {
              position: absolute;
              top: -36px;
              left: 560px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              // content, 단변수 예측, ARIMA : 점
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 12px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            /* content, 단변수 예측, Auto ARIMA : title */
            a:nth-child(8) {
              position: absolute;
              top: -36px;
              left: 630px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              /* content, 단변수 예측, Auto ARIMA : 점 */
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 20px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }            

            /* content, 단변수 예측, Seasonal ARIMA : title */
            a:nth-child(9) {
              position: absolute;
              top: -36px;
              left: 710px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              /* content, 단변수 예측, Seasonal ARIMA : 점 */
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 40px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            /* content, 단변수 예측, Auto SARIA : title */
            a:nth-child(10) {
              position: absolute;
              top: -36px;
              left: 810px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              /* content, 단변수 예측, Auto SARIA : 점 */
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 22px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }

            /* content, 단변수 예측, Prophet : title */
            a:nth-child(11) {
              position: absolute;
              top: -36px;
              left: 900px;

              font-size: var(--font-micro);
              font-weight: var(--weight-medium);
              color: var(--color-sub-title);
              text-align: center;

              /* content, 단변수 예측, Prophet : 점 */
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 15px;
                left: 14px;
                background: var(--color-navigation-icon);
                border-radius: 50%;
              }
            }
          }//End Of .cards.second .card.four .item div:nth-child(4)


          //-------------------------------------------------
          // 다변수 예측
          //-------------------------------------------------
          
          // title 
          div:nth-child(5) {
            position: absolute;
            width: 110px;
            height: 95px;
            top: 85px;
            left: -48px;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            text-align: right;
            padding-right: 4px;
            padding-bottom: 4px;
            font-size: .9rem;
            font-weight: 900;
            display: flex;
            align-items: flex-end;
          }//End Of .cards.second .card.four .item div:nth-child(5)

          // circle
          div:nth-child(6) {
            top: 60px;
            left: 48px;
          }//End Of .cards.second .card.four .item div:nth-child(6)

          // 다변수 예측, Linear Models : content
          div:nth-child(7) {
            position: absolute;
            width: 150px;
            height: 50px;
            top: 19px;
            left: 13%;
            border: 2px solid black;
            border-right: 0;
            border-bottom: 0;
            padding-top: 5px;
            padding-left: 10px;
            background: transparent;
            font-size: var(--font-small);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            // 다변수 예측, Linear Models : 점
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: 47px;
              left: -6px;
              background-color: var(--color-white);
              border: 1px solid var(--color-black);
              border-radius: 50%;
            }

            // 다변수 예측, Linear Models : 타이틀
            &::after {
              content: "Linear Models";
              position: absolute;
              width: 100px;
              height: 10px;
              top: 60px;
              left: -46px;
              font-size: var(--font-small);
              font-weight: var(--weight-regular);
            }
          }//End Of .cards.second .card.four .item div:nth-child(7)

          // 다변수 예측, Tree Model : content
          div:nth-child(8) {
            position: absolute;
            width: 205px;
            height: 145px;
            top: 78px;
            left: 12%;
            border: 2px solid black;
            border-top: 0;
            border-left: 0;
            border-bottom: 0;
            padding-right: 5px;
            background: transparent;
            font-size: var(--font-small);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            // 다변수 예측, Tree Model : 점
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: -10px;
              left: 199px;
              background-color: var(--color-white);
              border: 1px solid var(--color-black);
              border-radius: 50%;
            }

            // 다변수 예측, Tree Model : title
            &::after {
              content: "Tree Model";
              position: absolute;
              width: 100px;
              height: 10px;
              top: -30px;
              left: 158px;
              font-size: var(--font-small);
              font-weight: var(--weight-regular);
            }
          }//End Of .cards.second .card.four .item div:nth-child(8)

          // 다변수 예측, Deep Learning : content
          div:nth-child(9) {
            position: absolute;
            width: 125px;
            height: 50px;
            top: 19px;
            left: 45%;
            border: 2px solid black;
            border-right: 0;
            border-bottom: 0;
            padding-top: 5px;
            padding-left: 10px;
            background: transparent;
            font-size: var(--font-small);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            // 다변수 예측, Deep Learning : 점
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: 47px;
              left: -6px;
              background-color: var(--color-white);
              border: 1px solid var(--color-black);
              border-radius: 50%;
            }

            // 다변수 예측, Deep Learning : title
            &::after {
              content: "Deep Learning";
              position: absolute;
              width: 110px;
              height: 10px;
              top: 60px;
              left: -46px;
              font-size: var(--font-small);
              font-weight: var(--weight-regular);
            }
          }//End Of .cards.second .card.four .item div:nth-child(9)

          // 다변수 예측, Hyperparameter Optimization : content
          div:nth-child(10) {
            position: absolute;
            width: 255px;
            height: 50px;
            top: 19px;
            left: 68%;
            border: 2px solid black;
            border-right: 0;
            border-bottom: 0;
            background: transparent;
            font-size: var(--font-small);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
            padding-top: 8px;
            padding-left: 10px;

            // 다변수 예측, Hyperparameter Optimization : 점
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: 47px;
              left: -6px;
              background-color: var(--color-white);
              border: 1px solid var(--color-black);
              border-radius: 50%;
            }

            // 다변수 예측, Hyperparameter Optimization : title
            &::after {
              content: "Hyperparameter Optimization";
              position: absolute;
              width: 220px;
              height: 10px;
              top: 60px;
              left: -122px;
              font-size: var(--font-small);
              font-weight: var(--weight-regular);
            }

            // 다변수 예측, Hyperparameter Optimization : content 남는선 지우기
            a:last-child::after {
              content: "";
              position: absolute;
              width: 65px;
              height: 10px;
              top: -10px;
              left: 192px;
              background: var(--color-white);
            }
          }//End Of .cards.second .card.four .item div:nth-child(10)

          
          // 다변수 예측, Ensenbling : content
          div:nth-child(11) {
            position: absolute;
            width: 245px;
            height: 130px;
            top: 78px;
            left: 70%;
            border: 2px solid black;
            border-top: 0;
            border-left: 0;
            border-bottom: 0;
            padding-top: 5px;
            padding-right: 5px;
            background: transparent;
            font-size: var(--font-small);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            // 다변수 예측, Ensenbling : 점
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: -10px;
              left: 239px;
              background-color: var(--color-white);
              border: 1px solid var(--color-black);
              border-radius: 50%;
            }

            // 다변수 예측, Ensenbling : title
            &::after {
              content: "Ensenbling";
              position: absolute;
              width: 100px;
              height: 10px;
              top: -30px;
              left: 195px;
              font-size: var(--font-small);
              font-weight: var(--weight-regular);
            }
          }//End Of .cards.second .card.four .item div:nth-child(11)
        }//End Of .cards.second .card.four .item
      }//End Of .cards.second .card

      .cards.third .card {
        &.one {
          border-top: none;
          top: -2px;
        }
        
        &.seven .item {
          height: 200px;
        }

        &.four,
        &.five,
        &.six,
        &.seven {
          border-top: none;
        }
      }//End Of .cards.third .card

      .cards.fourth .card {

        .item {
          width: 90px;
          height: 110px;

          .title {
            position: absolute;
            width: 200px;
            height: 50px;
            top: -65px;
            left: -75px;
          }

          /* circle, 공통 */
          .circle {
            background-color: var(--color-white);
            border: 2px solid var(--color-black);
            border-radius: 50%;
            position: absolute;
            width: 25px;
            height: 25px;
          }
        }

        // circle, 큰동그라미
        &.one .item {
          .square {
            position: absolute;
            width: 600%;
            height: 120px;
            top: 80px;
            left: 63px;
            background: transparent;
            border: 5px solid var(--color-skyblue);
            border-right: none;
            border-radius: 200px 0 0 200px;
          }//End of  .cards.fourth .card.one .item .square

          div:nth-child(1) {
            width: 150px;
            height: 150px;
            top: 70px;
            left: -80px;
            border: 8px solid var(--color-skyblue);
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            font-size: 1.4rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all var(--animation-duration) ease;

            // circle, 큰동그라미, hover 
            // 설명 : 성능 분석 큰 동그라미에 마우스를 올려놨을 때의 이벤트 처리
            &:hover {
              transform: scale(1.2) rotate(-45deg);
              background: var(--color-skyblue);
              color: var(--color-white);
            }

            &:hover~div.circle {
              background: var(--color-skyblue);
            }

            &:hover~div.square,
            &:hover~div>a {
              border: 5px dashed var(--color-skyblue);
            }

            &:hover+div.square {
              border: 5px dashed var(--color-skyblue);
              border-right: none;
            }
          }//End of  .cards.fourth .card.one .item div:nth-child(1)


        }//End Of .cards.fourth .card.one .item

        // title : 시계열 예측 분석(수치메트릭)
        div:nth-child(3) {
          font-size: .9rem;
          position: absolute;
          width: 160px;
          border-left: 2px solid black;
          text-align: left;
          padding-left: 4px;
          font-weight: 900;
          height: 60px;
          top: 10px;
          left: 126px;
        }

        // circle : 시계열 예측 분석(수치메트릭)
        div:nth-child(4) {
          top: 70px;
          left: 115px;
        }

        // title : 시계열 예측 분석(차트)
        div:nth-child(5) {
          font-size: .9rem;
          position: absolute;
          width: 160px;
          border-left: 2px solid black;
          text-align: left;
          padding-left: 4px;
          font-weight: 900;
          height: 60px;
          top: 125px;
          left: 126px;
        }

        // circle : 시계열 예측 분석(차트)
        div:nth-child(6) {
          top: 185px;
          left: 115px;
        }

        // 수치 메트릭
        div:nth-child(7) {
          position: absolute;
          background: var(--color-white);
          border: 5px solid var(--color-skyblue);
          width: 580%;
          height: 100px;
          left: 95%;
          top: 30px;
          border-radius: 10px;
          line-height: 100px;
        }

        // 차트
        div:nth-child(8) {
          a {
            position: absolute;
            background: var(--color-white);
            border: 5px solid var(--color-skyblue);
            width: 125%;
            height: 100px;
            top: 150px;
            border-radius: 10px;
            line-height: 100px;
          }

          a:nth-child(1) {
            left: 95%;
          }

          a:nth-child(2) {
            left: 250%;
          }

          a:nth-child(3) {
            left: 400%;
          }

          a:nth-child(4) {
            left: 550%;
          }
        }
      }//End Of .cards.fourth .card

      //---------------------------------------------------------------------------------------------------
      // line - starts
      //---------------------------------------------------------------------------------------------------
      .cards {        
        &.first .card {
          top: 35px;
          left: 20px;
          border-top: 1rem solid var(--color-border);

          &.three,
          &.four,
          &.five,
          &.six,
          &.seven {
            border-bottom: 1rem solid var(--color-border);
          }

          &.seven {
            border-right: 1rem solid var(--color-border);
            border-radius: 0 20px 20px 0;
          }
        } 

        &.second .card {
          top: 19px;
          border-top: 1rem solid var(--color-border);
          
          &.one {
            border-left: 1rem solid var(--color-border);
            border-bottom: 1rem solid var(--color-border);
            border-radius: 20px 0 0 20px;
          }

          &.two {
            border-bottom: 1rem solid var(--color-border);
          }

          &.three {
            border-bottom: 1rem solid var(--color-border);
            top: 18px;
            left: -77px;
          }
        
          &.four {
            border-top: none;                        
                        
            // 시계열 예측 : 가장 큰 네모 상자
            .item {
              position: absolute;
              width: 1000px;
              left: -100px;
              height: 80px;
              top:65px;

              border: 1rem solid var(--color-border);
              border-radius: 50px 20px 0 50px;
            }
          }
        }

        &.third .card {
          &.one, &.four, &.five, &.six, &.seven {
            border-top: none;
          }

          &.three {
            // border-top: 1rem solid var(--color-border);
            // top: 2px;
            // left: -77px;
          }

          &.seven {
            border-right: 1rem solid var(--color-border);
            border-bottom: 1rem solid var(--color-border);
            border-radius: 0 0 20px 0;
          }
        } // end of .cards.third .card

        &.fourth .card {
          border-top: 1rem solid var(--color-border);
          top: -20px;

          &.one {
            border-left: 1rem solid var(--color-border);
            border-radius: 20px 0 0 20px;

            // 순번 : 성능 분석 - before
            .item div:nth-child(1)::before {
              content: "시계열 예측 분석";
              background-color: transparent;
              font-size: var(--font-small);
              font-weight: 400;
              position: absolute;
              width: 125px;
              height: 15px;
              top: 80px;
              left: 4px;
            }
          }

          &.seven {
            border-top: none;
          }
        } // end of .cards.fourth .card

      } // end of .cards
      //---------------------------------------------------------------------------------------------------
      // line - ends
      //---------------------------------------------------------------------------------------------------
      
    }//End of .body table

  }//End of .body

}// End Of #dashboard