/**
 * 파일명 : Introduce.scss
 * 설 명 : 센서 데이터 상관관계 그래프
 * 최초 생성일 : 
 *
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */
#introduce {
  height: calc(100vh - 2rem - 85px);
  width: calc(100vw - 3rem - 78px - 1px);

  .head {
    padding: 2rem;
    display: flex;
    align-items: center;
    line-height: var(--font-regular);

    i {
      font-size: 1.4rem;
      margin-right: 2rem;
      color: rgb(195, 202, 217);
    }

    h3 {
      color: rgb(98, 114, 147);
    }
  }

  .body * {
    background: none;
  }

  .body {
    margin: 0 2rem;
    height: 85%;
    // background: var(--color-white);
    border-radius: var(--size-border-large-radius);
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      position: relative;

      .card {
        background: var(--color-white);
        border-radius: 30px; 

        height: 37vh;
        padding: 1rem;

        .title {
          margin: 1rem 0;
          text-align: center;

          font-size: 20px;
          font-weight: bold;
        }
      }

      .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 250px;
        height: 250px;
        border: 5px solid black;
        border-radius: 50%;

        text-align: center;
        line-height: 250px;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        // display: grid;
        // grid-template-columns: repeat(2, 1fr);

        font-size: 50px;

        background: blue;

        .squars {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: .5rem;
          
          position: absolute;
          top: -5%;
          left: -5%;

          .square {
            width: 125px;
            height: 125px;

            background: transparent;
            
            &:nth-child(1) {
              border-radius: 200px 0 0 0;

              &:hover {
                background: red;
              }
            }

            &:nth-child(2) {
              border-radius: 0 200px 0 0;

              &:hover {
                background: orange;
              }
            }

            &:nth-child(3) {
              border-radius: 0 0 0 200px;

              &:hover {
                background: purple;
              }
            }

            &:nth-child(4) {
              border-radius: 0 0 200px 0;

              &:hover {
                background: palegreen;
              }
            }

          }
        }
      }
    }

  }
}