<!--    
  파일명 : Introduce.html
  설 명 : 소개
	최초 생성일 :     

	수정일			수정내역 
	---------   -----------------------------------------------------------------
  21.12.17    최초개발
	
-->
<script src="/src/main/webapp/assert/js/Dashboard/Introduce.js" defer></script>

<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>Introduce</h3>
</div>

<div class="body">
  <div class="cards">
    <div class="card">1</div>
    <div class="card">2</div>
    <div class="card">3</div>
    <div class="card">4</div>
    <label class="circle">
      Alian
      <div class="squars">
        <div class="square">1</div>
        <div class="square">2</div>
        <div class="square">3</div>
        <div class="square">4</div>
      </div>
    </label>
  </div>
</div>