<!--    
  파일명 : IntroduceEX.html
  설 명 : TimeSeries Sensor Data Forecasting UI 소개 화면
	최초 생성일 :     

	수정일			수정내역 
	---------   -----------------------------------------------------------------
	
-->
<script src="/src/main/webapp/assert/js/Dashboard/IntroduceEX.js" defer></script>
<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>Introduce</h3>
</div>
<div class="container">
  <table>
    <tr>
      <td>
        <div class="box-wrap one">
          <div class="box"></div>
          <div class="square">01</div>
          <div class="title">데이터 준비</div>
          <div class="description">
            원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
          </div>
          <div class="detail">
            <div class="circle">
              <div class="big">
                <div class="small">1</div>
              </div>
              <div class="detail-title">센서 데이터 현황</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">2</div>
              </div>
              <div class="detail-title">센서 데이터 선택</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">3</div>
              </div>
              <div class="detail-title">데이터 탐험</div>
              <div class="deatil-description">
                <div>Pandas Profiler</div>
                <div>SweetViz</div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">4</div>
              </div>
              <div class="detail-title">데이터 로딩  & 프리뷰</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">5</div>
              </div>
              <div class="detail-title">상관관계 시각화</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">6</div>
              </div>
              <div class="detail-title">데이터 전처리</div>
              <div class="deatil-description"></div>
            </div>
            <div class="end">X</div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-wrap two">
          <div class="box"></div>
          <div class="square">02</div>
          <div class="title">시계열 준비</div>
          <div class="description">
            원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
          </div>
          <div class="detail">
            <div class="circle">
              <div class="big">
                <div class="small">1</div>
              </div>
              <div class="detail-title">센서 데이터 현황</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">2</div>
              </div>
              <div class="detail-title">센서 데이터 선택</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">3</div>
              </div>
              <div class="detail-title">데이터 탐험</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">4</div>
              </div>
              <div class="detail-title">데이터 로딩  & 프리뷰</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">5</div>
              </div>
              <div class="detail-title">상관관계 시각화</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">6</div>
              </div>
              <div class="detail-title">데이터 전처리</div>
              <div class="deatil-description"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-wrap three">
          <div class="box"></div>
          <div class="square">03</div>
          <div class="title">시계열 예측</div>
          <div class="description">
            원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
          </div>
          <div class="detail">
            <div class="circle">
              <div class="big">
                <div class="small">1</div>
              </div>    
              <div class="detail-title">센서 데이터 현황</div>
              <div class="deatil-description"></div>          
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">2</div>
              </div>
              <div class="detail-title">센서 데이터 선택</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">3</div>
              </div>
              <div class="detail-title">데이터 탐험</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">4</div>
              </div>
              <div class="detail-title">데이터 로딩  & 프리뷰</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">5</div>
              </div>
              <div class="detail-title">상관관계 시각화</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">6</div>
              </div>
              <div class="detail-title">데이터 전처리</div>
              <div class="deatil-description"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-wrap four">
          <div class="box"></div>
          <div class="square">04</div>
          <div class="title">성능 분석</div>
          <div class="description">
            원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
          </div>
          <div class="detail">
            <div class="circle">
              <div class="big">
                <div class="small">1</div>
              </div>
              <div class="detail-title">센서 데이터 현황</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">2</div>
              </div>
              <div class="detail-title">센서 데이터 선택</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">3</div>
              </div>
              <div class="detail-title">데이터 탐험</div>
              <div class="deatil-description"></div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">4</div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">5</div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">6</div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function () {

    $('#introduceEX .box-wrap.one .title').hover(function() { 
      $('#introduceEX .box-wrap.one .title').addClass('active'); 
    }, function() {
      $('#introduceEX .box-wrap.one .title').removeClass('active'); 
    });
    $('#introduceEX .box-wrap.two .title').hover(function() { 
      $('#introduceEX .box-wrap.two .title').addClass('active'); 
    }, function() { 
      $('#introduceEX .box-wrap.two .title').removeClass('active'); 
    });
    $('#introduceEX .box-wrap.three .title').hover(function() { 
      $('#introduceEX .box-wrap.three .title').addClass('active'); 
    }, function() {
      $('#introduceEX .box-wrap.three .title').removeClass('active'); 
    });
    $('#introduceEX .box-wrap.four .title').hover(function() { 
      $('#introduceEX .box-wrap.four .title').addClass('active'); 
    }, function() { 
      $('#introduceEX .box-wrap.four .title').removeClass('active'); 
    });

    $('#introduceEX .box-wrap.one .title').click(function() { 
      $('#introduceEX .box-wrap.one .box').addClass('active'); 
      $('#introduceEX .box-wrap.one .detail').addClass('active');
    });
    $('#introduceEX .box-wrap.two .title').click(function() { 
      $('#introduceEX .box-wrap.two .box').addClass('active'); 
      $('#introduceEX .box-wrap.two .detail').addClass('active');
    });
    $('#introduceEX .box-wrap.three .title').click(function() { 
      $('#introduceEX .box-wrap.three .box').addClass('active'); 
      $('#introduceEX .box-wrap.three .detail').addClass('active');
    });
    $('#introduceEX .box-wrap.four .title').click(function() { 
      $('#introduceEX .box-wrap.four .box').addClass('active'); 
      $('#introduceEX .box-wrap.four .detail').addClass('active');
    });

    $('#introduceEX .box-wrap.one .end').click(function() { 
      $('#introduceEX .box-wrap.one .box').removeClass('active'); 
      $('#introduceEX .box-wrap.one .detail').removeClass('active');
    });
  });
</script>

