<!--    
  파일명 : IntroduceEX.html
  설 명 : TimeSeries Sensor Data Forecasting UI 소개 화면
	최초 생성일 :     

	수정일			수정내역 
	---------   -----------------------------------------------------------------
	
-->
<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>Introduce</h3>
</div>
<div class="container">
  <table>
    <tr>
      <td>
        <div class="box one">
          <div class="square one">
            <span class="num">01</span>
          </div>
          <div class="item">
            <span class="title">
              데이터 준비
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            <div class="circle">
              <div class="big">
                <div class="small">
                  1
                </div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">
                  2
                </div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">
                  3
                </div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">
                  4
                </div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">
                  5
                </div>
              </div>
            </div>
            <div class="circle">
              <div class="big">
                <div class="small">
                  6
                </div>
              </div>
            </div>
          </div> <!-- end of .detail -->
        </div>
      </td>
      <td>
        <div class="box two">
          <div class="square two">
            <span class="num">02</span>
          </div>
          <div class="item">
            <span class="title">
              시계열 준비
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            시계열 준비 상세 화면
          </div>
        </div>
      </td>
      <td>
        <div class="box three">
          <div class="square three">
            <span class="num">03</span>
          </div>
          <div class="item">
            <span class="title">
              시계열 예측
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            시계열 예측 상세 화면
          </div>
        </div>
      </td>
      <td>
        <div class="box four">
          <div class="square four">
            <span class="num">04</span>
          </div>
          <div class="item">
            <span class="title">
              성능 분석
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            성능 분석 상세 화면
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#introduceEX .box').hover(function () {
      $('#introduceEX .item').hide();
    }, function () {
      $('#introduceEX .item').show();
    });
  });
</script>