<!-- 
  파일명 : DataStatus.html
  셜명 : 센서 데이터 현황
  최초 생성일 : 21.10.15

  수정일    수정내역
  --------- -----------------------------------------------------------------

-->
<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>센서 데이터 현황</h3>
</div>
<div class="body">

  <div class="item">
    <div class="head"><i class="las la-building"></i></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"><img src="/src/main/webapp/assert/image/golden-gate.png" alt=""></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head">
      <!-- <img src="/src/main/webapp/assert/image/hill.png" alt=""></div> -->
      <i class="icon-hill"></i>
    </div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"></div>
    <div class="content"></div>
  </div>
  <div class="item">
    <div class="head"></div>
    <div class="content"></div>
  </div>

</div>