<script src="/src/main/webapp/assert/js/ScreenLayout/Header.js" defer></script>

<!-- <div> -->

<!-- menubar -->
<div class="title-wrapper">
  <label for="nav-toggle">
    <span class="las la-eye"></span>
  </label>
  <input type="text" class="title" value="Time Series Sensor Data Forecasting UI"></input>
</div>
<!--// menubar -->

<!-- searchbar -->
<div class=" search-wrapper">
  <span class="las la-search"></span>
  <input type="search" placeholder="Search here" />
</div>
<!--// searchbar -->

<!-- imgbar -->
<div class="user-wrapper">

  <div id="search-btn" class="las la-search"></div>
  <div id="login-btn" class="las la-user-circle"></div>

  <form class="find-wrapper">
    <input type="search" placeholder="search here" id="search-box">
    <label for="search-box" class="las la-search"></label>
  </form>

</div>
<!--// imgbar -->

<!-- </div> -->