<script src="/asserts/js/ScreenLayout/Navigation.js" defer></script>

<!-- sidebar -->
<div class="sidebar">

  <!-- logo_content -->
  <div class="logo_content">
    <div class="logo">
      <i class="las la-eye"></i>
    </div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <!--// logo_content -->

  <!-- nav_list -->
  <ul class="nav_list">
    <li class="menu">
      <a href="#">
        <span class="links_name">D</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">1</span>
      </a>
      <span class="tooltip">센서 데이터 현황</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">2</span>
      </a>
      <span class="tooltip">센서 데이터 선택</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">3</span>
      </a>
      <span class="tooltip">데이터 탐험</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">4</span>
      </a>
      <span class="tooltip">데이터 로딩 & 프리뷰</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">5</span>
      </a>
      <span class="tooltip">상관관계 시각화</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">6</span>
      </a>
      <span class="tooltip">데이터 전처리</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">7</span>
      </a>
      <span class="tooltip">시계열 데이터 분해</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">8</span>
      </a>
      <span class="tooltip">시계열 정상성 검사 및 변환</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">9</span>
      </a>
      <span class="tooltip">단변수 예측</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">10</span>
      </a>
      <span class="tooltip">다변수 예측</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">11</span>
      </a>
      <span class="tooltip">시계열 예측 분석 (수치 메트릭)</span>
    </li>
    <li class="menu">
      <a href="#">
        <span class="links_name">12</span>
      </a>
      <span class="tooltip">시계열 예측 분석 (차트)</span>
    </li>
  </ul>
  <!--// nav_list -->

  <div class="rightbar">
    센서 데이터 현황

    <!-- <i class='bx bxs-chevron-left'></i> -->
    <div class="close">
      <i class="las la-angle-left"></i>
    </div>

  </div>

</div>
<!--// sidebar -->

<!-- home_content -->
<!-- <div class="home_content">
  <div class="text">Home Content</div>
</div> -->
<!--// home_content -->