<!-- 
  파일명 : Dashboard-5.html 
-->
<script src="/asserts/js/Dashboard/Dashboard-5.js" defer></script>

<table>

  <tr class="line first">
    <td>
      <div>
        <span>데이터 준비</span>
        <span></span>
      </div>
    </td>
    <td>
      <div>
        <span>센서 데이터 현황</span>
        <span>1</span>
      </div>
    </td>
    <td>
      <div>
        <span>센서 데이터 선택</span>
        <span>2</span>
      </div>
    </td>
    <td>
      <div>
        <span>데이터 탐험</span>
        <span>3</span>
        <span>
          <a href="">Pandas Profiler</a>
          <a href="">Sweetviz</a>
        </span>
      </div>
    </td>
    <td>
      <div>
        <span>데이터 로딩&프리뷰</span>
        <span>4</span>
      </div>
    </td>
    <td>
      <div>
        <span>상관관계 시각화</span>
        <span>5</span>
      </div>
    </td>
    <td>
      <div>
        <span>데이터 전처리</span>
        <span>6</span>
      </div>
    </td>
  </tr>

  <tr class="line second">
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
  </tr>

  <tr class="line third">
    <td>
      <div>
        <span>시계열준비</span>
        <span></span>
      </div>
    </td>
    <td>
      <div>
        <span>시계열 데이터 분해</span>
        <span>7</span>
        <span>
          <a href="">레벨</a>
          <a href="">트렌드</a>
          <a href="">계절성</a>
          <a href="">잡음</a>
        </span>
      </div>
    </td>
    <td>
      <div>
        <span>시계열 정상성<br>검사 및 변환</span>
        <span>8</span>
        <span>
          <a href="">Augmented Dicker-Fuller test</a>
          <a href="">Auto Correlation</a>
          <a href="">Partial Auto Correlation</a>
        </span>
        <span>
          <a href="">Difference</a>
          <a href="">Log Scale</a>
          <a href="">Smoothing</a>
        </span>
      </div>
    </td>
    <td>
      <div>
        <span>시계열 예측</span>
        <span></span>
      </div>
    </td>
    <td colspan="3">
      <div id="forecating">
        <div>
          <span>단변수 예측</span>
          <span>9</span>
          <span>
            <div style="font-size: 10px;">Naive Mean(Yesterday, value)
            </div>
            <div class="">SES</div>
            <div class="">HWES</div>
            <div class="">AR</div>
            <div class="">MA</div>
            <div class="">ARMA</div>
            <div class="">ARIMA</div>
            <div class="">Auto ARIMA</div>
            <div class="">Seasonal ARIMA</div>
            <div class="">Auto SARIMA</div>
            <div class="">Prophet</div>
          </span>
        </div>
        <div>
          <span>다변수 예측</span>
          <span>10</span>
        </div>
      </div>
    </td>
  </tr>

  <tr class="line fourth">
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <div></div>
    </td>
  </tr>

  <tr class="line fifth">

  </tr>

</table>