#dashboard-5 {
  background: white;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard-5 table {
  border-spacing: 0px;
}

#dashboard-5 td {
  position: relative;
}

#dashboard-5 td,
#dashboard-5 td div {
  width: 230px;
  height: 140px;
}

#dashboard-5 tr:nth-child(3) td,
#dashboard-5 tr:nth-child(3) td div {
  width: 230px;
  height: 200px;
}

#dashboard-5 tr:nth-child(4) td,
#dashboard-5 tr:nth-child(4) td div {
  width: 230px;
  height: 100px;
}

#dashboard-5 td div span {
  display: grid;
  place-items: center;
}

#dashboard-5 .line-first td div span:nth-child(1),
#dashboard-5 .line-third td div span:nth-child(1) {
  position: absolute;
  top: -80px;
  left: -50px;
  width: 150px;
  height: 50px;
}

#dashboard-5 .line-first td div span:nth-child(2),
#dashboard-5 .line-third td div span:nth-child(2) {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  /* text-align: center;
  line-height: 50px; */
}

/* ******************************************************************************************** 
line-one
******************************************************************************************** */
#dashboard-5 .line-first td div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;  
}

#dashboard-5 .line-first td:first-child div {
  border-bottom: 0;
}

#dashboard-5 .line-first td:last-child div {
  border-right: 1px solid black;
  border-radius: 0 50% 50% 0;
}

#dashboard-5 .line-first td div span:nth-child(3)::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 5px;
  height: 15px;
  top: -22%;
}

#dashboard-5 .line-first td div span:nth-child(3) {
  font-size: var(--font-small);
  position: absolute;
  top: 37px;
  left: -41px;
  width: 130px;
  height: 70px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#dashboard-5 .line-first td:nth-child(7) div {
  width: 190px;
}

/* ******************************************************************************************** 
two
******************************************************************************************** */
#dashboard-5 .line-second td:first-child div {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50% 0 0 50%;
  position: absolute;
  top: -1px;
}

/* ******************************************************************************************** 
three
******************************************************************************************** */
#dashboard-5 .line-third td div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: -2px;
}

#dashboard-5 .line-third td:first-child div {
  border-top: 0;
  border-bottom: 0;
}

#dashboard-5 .line-third td:last-child div {
  /* border-right: 1px solid black; */
  /* border-radius: 0 50% 50% 0; */  
}

#dashboard-5 .line-third td:nth-child(4) div,
#dashboard-5 .line-third td:nth-child(5) div  {
  border-top: 0px;
}

#dashboard-5 .line-third td:first-child div span:nth-child(1) {
  left: 0px;
}

#dashboard-5 .line-third td:first-child div span:nth-child(2) {
  left: 50px;
}

/* 시계열 데이터 분해, 제목 */
#dashboard-5 .line-third td:nth-child(2) div span:nth-child(1) {
  position: absolute;
  top: -80px;
  left: -70px;
  width: 150px;
  height: 50px;
}

/* 시계열 데이터 분해, 순번 */
#dashboard-5 .line-third td:nth-child(2) div span:nth-child(2) {
  position: absolute;
  /* top: -25px; */
  left: -25px;
  /* width: 50px; */
  /* height: 50px; */
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  /* background-color: var(--color-turquoise); */
  /* text-align: center; */
  /* line-height: 50px; */
}

/* 시계열 데이터 분해, 세로선 */
#dashboard-5 .line-third td div span:nth-child(3)::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 5px;
  height: 15px;
  top: -15%;
}

/* 시계열 데이터 분해, 내용 */
#dashboard-5 .line-third td div span:nth-child(3) {
  font-size: var(--font-small);
  position: absolute;
  top: 37px;
  left: -40px;
  width: 80px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

/* 시계열 정상성 검사 및 변환, 제목 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(1) {
  position: absolute;
  top: -80px;
  left: -30px;
  width: 150px;
  height: 50px;
  text-align: center;
}

/* 시계열 정상성 검사 및 변환, 순번 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(2) {
  position: absolute;
  /* top: -25px; */
  left: 20px;
  /* width: 50px; */
  /* height: 50px; */
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  /* background-color: var(--color-turquoise); */
  /* text-align: center; */
  /* line-height: 50px; */
}

/* 시계열 정상성 검사 및 변환, 왼쪽 내용 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(3) {
  font-size: 12px;
  /* position: absolute; */
  /* top: 37px; */
  left: -150px;
  width: 190px;
  /* height: 100px; */
  /* background-color: yellow; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* padding: 10px; */
}

/* 시계열 정상성 검사 및 변환, 오른쪽 내용 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(4) {
  font-size: 12px;
  position: absolute;
  top: 37px;
  left: 50px;
  width: 80px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

/* 시계열 정상성 검사 및 변환, 순번, 세로 선 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(2)::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 5px;
  height: 10px;
  top: 100%;
}

/* 시계열 정상성 검사 및 변환, 순번, 가로 선 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(2)::after {
  content: "";
  background-color: black;
  position: absolute;
  left: -78px;
  width: 150px;
  height: 3px;
  top: 115%;
}

/* 시계열 정상성 검사 및 변환, 왼쪽 내용, 위에 선 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(3)::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 92px;
  top: -5%;
}

/* 시계열 정상성 검사 및 변환, 오른쪽 내용, 위에 선 */
#dashboard-5 .line-third td:nth-child(3) div span:nth-child(4)::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 37px;
  top: -5%;
}

/* 시계열 예측, 제목 */
#dashboard-5 .line-third td:nth-child(5) div span:nth-child(1) {
  position: absolute;
  top: -80px;
  left: -50px;
  width: 150px;
  height: 50px;
}

/* 시계열 예측, 순번 */
#dashboard-5 .line-third td:nth-child(5) div span:nth-child(2) {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  text-align: center;
  line-height: 50px;
}

/* 시계열 예측, 순번, 시계열 정상성 검사 및 변환과 연결하는 선 */
#dashboard-5 .line-third td:nth-child(5) div span:nth-child(2)::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 50px;
  height: 1px;
  top: 50%;
  left: -50px;
}

/* ******************************************************************************************** 
시계열 예측
******************************************************************************************** */
#dashboard-5 .line-third td:nth-child(4) {
  left: -100px;  
}

#dashboard-5 .line-third td:nth-child(4)::before {
  content: "";
  background-color: black;
  position: absolute;
  left: 78px;
  width: 30px;
  height: 1px;
  top: -1%;
}

#dashboard-5 .line-third td:nth-child(4)::after {
  content: "";
  background-color: black;
  position: absolute;
  left: 230px;
  top: 98.5%;
  width: 60px;
  height: 1px;  
}

#dashboard-5 .line-third td:nth-child(5) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 30px 0;

  position: relative;
  top: -2px;
  left: -40px;    
}

#dashboard-5 #forecating {
  border: 1px solid  black;
  border-right: 1px solid black;
  position: absolute;
  top: -75px;
  left: -182px;
  width: 872px;
  height: 150px;
  border-radius: 0 30px 0 0;
}

#dashboard-5 #forecating div:first-child {
  /* top: px; */
  left: 60px;
  border: none;
  /* width: 100%; */
}

/* #dashboard-5 #forecating div:nth-child(2)::after {
  content: "";
  background-color: black;
  position: absolute;
  left: 78px;
  width: 50px;
  height: 1px;
  top: 350px;
} */

#dashboard-5 #forecating div:last-child {
  top: 150px;
  left: 60px;
  border: none;
  /* width: 100px; */
}

#dashboard-5 #forecating div span:first-child {
  top: -68px;
}

#dashboard-5 #forecating div span::before {
  content: none;
}

#dashboard-5 #forecating div span:nth-child(3){
  top: -50px;
  left: 100px;
  width: 650px;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 1.5px;
}

#dashboard-5 #forecating div span:nth-child(3) div {
  position: static;
  width: 100%;
  height: 20px;
  line-height: 20px;
  border: none;
  text-align: center;  
  font-size: 15px;
}

/* #dashboard-5 #forecating div span:nth-child(3) div::after {
  content: none;

} */

/* ******************************************************************************************** 
four
******************************************************************************************** */
#dashboard-5 .line-fourth td:first-child div {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50% 0 0 50%;
  position: absolute;
  top: -3px;
}